# Hello python
## header 2
** python** is really *cool*

list of language

- python
  - pandas
  - numpy
  - scikit
- c
- c++
- java

test python code
```python
print("Hello, World!")
a = 10
b = 10
```

> Life is short
So you have to use python.

$ y = 3x $

Link
[python homepage](python.org)

In [ ]:
a = 10
print(a)

## Test Markdown
마크다운은 설명할 때 쓰는 형식입니다.

In [ ]:
a = 9 
print(a)
print(a - 3)
print(a)

In [ ]:
a = 'hello world'
a.upper()

* replace
  * 문자열 내의 특정 문자를 치환

In [ ]:
a = 'hello world'
a.replace('h', 'j')

* format
  * 문자열내의 특정한 값을 변수로부터 초기화하여 동적으로 문자열을 생성

In [ ]:
temperature = 25.5
prob = 80.0

a = '오늘 기온{}도 이고, 비올 확률은 {}% 입니다.'.format(temperature, prob)
print(a)

* split
  * 문자열을 특정한 문자 구분하여(delimiter) 문자열의 리스트로 치환

In [ ]:
a = 'hello world what a nice weather'
a.split()

## 컬렉션 타입의 이해

### 학습목표

1. list, tuple 에 대해 이해 및 실습

### 리스트 & 튜플

* 복수개의 값을 담을 수 있는 데이터 구조
* 실생활에서 사용하는 리스트 (학생 리스트, 성적 리스트 등등) 과 동일한 의미로 이해
* list - mutable (변경가능)
* tuple - immutable (변경 불가능)

#### 리스트 초기화
* [ ] 안에 값을 담아서 생성
* list() 함수로 생성

In [ ]:
a = []
print(a)

In [ ]:
a = [1, 2, 3, 5, 10]
print(a)

In [ ]:
a = ['korea', 'canada', 1, 23, [34, 56]]
print(a)

* list() 함수
  * 다른 데이터 타입을 리스트로 변환할 때도 사용

In [ ]:
a = 'hello world'
b = list(a)
print(b)

c = (1, 2, 3)
print(c, type(c))
d = list(c)

print(d)

* string split 함수
  * 구분자로 구분되는 리스트 반환(빈번히 사용됨)

In [ ]:
a = [1, 2, 3]
a.append(4)
print(a)

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]

a.extend(b)
print(a)

* in
  * key 값 존재 확인
  * O(1) 연산 - 딕셔너리의 크기와 관계없이 항상 연산의 속도가 일정하다는 의미

In [ ]:
a = {'a' : 1, 'b' : 2, 'c' : 3}
b = [1, 2, 3, 4, 5, 6, 7, 9, 10, 100]

print(100 in b)
print('b' in a)

In [ ]:
a = 'hello'
for character in a:
    print(character)

In [ ]:
a = [1, 10, 3, 4, 5]
for num in a:
    if num % 2 == 0:
        print(num/2)
    else:
        print(num+1)

In [ ]:
a = {'korea': 'seoul', 'japan': 'tokyo', 'canada': 'ottawa'}
for k in a:
    print(k, a[k])

In [ ]:
for k in a:
    print(k)

In [ ]:
for value in a.keys():
    print(a[value])

In [ ]:
for value in a.values():
    print(value)

In [ ]:
for a, b in a.items():
    print(a, b)

In [ ]:
a = [1, 2, 3, 4, 5]
for index, num in enumerate(a):
    if index > 3:
        print(index, num)

### 구구단 출력하기

In [ ]:
for i in range(2, 10):
    for j in range(2, 10):
        print(f'{i} * {j} = {i*j}')
    print('--------------------')

### collection 의 길이
* len() 내장함수로 계산 가능
* 내장함수란 파이썬 내부에 구현되어 있어서, import하지 않고도 사용 가능한 함수를 의미
* abs, len, type, range 등이 있음 (과정 진행하면서 필요할 때마다 다룰 예정)

In [ ]:
a = [1, 2, 3, 4, 5, 1]
len('hello world')

* 연습문제 1부터 100사이의 5의 배수만을 갖는 리스트를 생성하시오

In [ ]:
list(range(5, 101, 5))

## if & for 연습문제

1. 구구단을 2 - 9단 까지 출력하시오.
2. 1 - 100까지 정수 중 2의 배수 또는 11의 배수를 모두 출력하시오.
3. `a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]` 에서 최대값과 최소값을 찾으시오. (sort, sorted 사용 금지)
4. `a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]` 에서 평균을 구하세요.

In [64]:
# 1 문제
for i in range(2, 10):
    for j in range(2, 10):
        print(f'{i} * {j} = {i*j}')
    print('--------------------')

2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
--------------------
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
--------------------
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
--------------------
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
--------------------
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
--------------------
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
--------------------
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
--------------------
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
--------------------

In [59]:
# 2 문제
two = []
for i in range(1, 101):
    if i % 2 == 0:
        two.append(i)
    elif i % 11 == 0:
        two.append(i)
print(two)

[2, 4, 6, 8, 10, 11, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 33, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 77, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 99, 100]

In [60]:
# 3
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]
_max = 0
_min = 100
for i in a:
    if i > _max:
        _max = i
    if i < _min:
        _min = i
print(f'최댓값은 {_max} 최솟값은 {_min}')

최댓값은 99 최솟값은 1

In [63]:
# 4
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]
avg = 0
total = 0
for i in a:
    total += i
avg = total / len(a)
print(f'평균 {avg}')

평균 37.0